@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .react-player video {
    border-radius: 0.75rem;
    background-color: black;
    object-fit: cover;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
